<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egco428.trysub">
    <uses-feature android:name="android.hardware.camera2" android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>
        <activity android:name=".Create_Login.choose"
            android:screenOrientation="portrait"/>
        <activity android:name=".Create_Login.Create"
            android:screenOrientation="portrait"/>
        <activity android:name=".PlayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HighScoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectGameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mini_Game.minigame"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuestionAnswerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Create_Login.login"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConcludeScoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LearnWordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectLearnActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>